

#modus {
    display: inline-block;
    text-align: center;
}

#batterij {
    display: inline-block;
    text-align: center;
}

.texties {   width: 204px;  float: left;  margin: 10px 10px 10px 20px;   padding: 8px;   height: 400px;  overflow: auto;  font-family: arial, Helvetica, sans-serif;  font-size: 13px;     background-color: #B7DBFF;      border: 2px ridge #99CCFF;   }


