

#modus {
    display: inline-block;
    text-align: center;
}

#batterij {
    display: inline-block;
    text-align: center;
}

.texties { float: center;  margin: 10px 10px 10px 10px;   padding: 8px;   height: 400px;  overflow: auto;  font-family: arial, Helvetica, sans-serif;  font-size: 13px;     background-color: #FFFFFF;      border: 2px ridge #99CCFF;   }


