<div class="container">
	<div class="jumbotron">
	  <h1>Sorry,.. 404</h1>
	  <p>Deze pagina bestaat (nog) niet :(  <br>Probeer eens onze pagina's:</p> <br>
	  <p><a class="btn btn-primary btn-lg" href="#/" role="button">Home</a></p> <br>
	  <p><a class="btn btn-primary btn-lg" href="#/blog" role="button">Blog</a></p> <br>
	  <p><a class="btn btn-primary btn-lg" href="#/livestream" role="button">Livestream</a></p> <br>
      <p><a class="btn btn-primary btn-lg" href="#/analytics" role="button">Analytics</a></p> <br>
	  <p><a class="btn btn-primary btn-lg" href="#/contact" role="button">Contact</a></p>
	</div>
</div>