

    <div class="row text-center">
        <h1>Analyse</h1>
        <p>Hier vind u de Real-Time data van de spin terug. Indien de spin niet <br> online is kun u hier de data zien die of wel door <br> recent behaalde data vinden of demo data</p>
    </div>
<div class="container">
    <div id="logContainer" class="texties">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tempus ultricies ultrices. Sed urna ex, dignissim ut mollis eget, rhoncus vitae dui. Morbi luctus ante ut urna porta, non pharetra felis mollis. Proin consequat ac mauris id condimentum. Nunc auctor, nunc fermentum lacinia porta, tortor nisi suscipit ligula, id cursus purus nibh pretium felis. Sed viverra at ex et luctus. Vivamus venenatis volutpat auctor. Aenean fringilla gravida libero sit amet lacinia. Sed nec velit varius, imperdiet dui non, viverra dolor.
    </div>
    <div class="row">
        
         <div class="col-lg-4 text-center">
          <h2>Batterij</h2>
          <div class="batterij"></div>

        </div>
        
       <div class="col-lg-4 text-center">
          <h2>Modus</h2>
          <div class="modus"></div>

        </div>
        
        <div class="col-lg-4 text-center">
          <h2>Voltage</h2>
          <div class="batterij"></div>

        </div>

        
    </div>
    <hr>
<!--<div class="row">

        <section class="panel panel-primary col-md-4">
            <header class="panel-heading">
                <h3 class="panel-title">Battery Info</h3>
            </header>
            <div class="panel-body">
                <div id="modus"></div>
            </div>
        </section>
        <section class="panel panel-primary col-md-4">
            <header class="panel-heading">
                <h3 class="panel-title">Mode</h3>
            </header>
            <div class="panel-body">
                <div id="batterij"></div>
            </div>
        </section>
        <section class="panel panel-primary col-md-4">
            <header class="panel-heading">
                <h3 class="panel-title">Mode</h3>
            </header>
            <div class="panel-body">
                <div id="batterij"></div>
            </div>
        </section>
</div>-->


<div class="row">
          <div id="buyer" class="col-lg-4 text-center">
              <canvas id="buyers" class="chart"></canvas>
              <h2>Battery</h2>
          </div>
          
          <div id="pie" class="col-lg-4 text-center">
                <canvas id="myChart" class="chart"></canvas>
              <h2>Mode Times</h2>
          </div>
          
          <div id="chart" class="col-lg-4 text-center">
              <canvas id="ding" class="chart"></canvas>
              <h2>Thingy</h2>
          </div>

</div>

<script>
    insertData();
    generatePieData();
    generateData();
    createrad();
</script>