<div class=" text-center ">
        <h1>Contact</h1>
        <p>Wilt u meer informatie? Dan kunt u hieronder onze contactgegevens vinden.</p>
</div>
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="well well-sm">
                <form class="form-horizontal" method="get" action="mailto:bartjanvassen@gmail.com"  enctype="text/plain">
                    <fieldset>
                        <legend class="text-center header">Neem contact met ons op.</legend>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <input id="fname" name="name" type="text" placeholder="Voornaam" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <input id="lname" name="name" type="text" placeholder="Achternaam" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <input id="email" name="email" type="text" placeholder="Email Adres" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <input id="phone" name="phone" type="text" placeholder="Telefoon nr." class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <textarea class="form-control" id="message" name="message" placeholder="Vul hier uw bericht in, wij proberen uw bericht binnen 2 werkdagen te beantwoorden." rows="7"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Mail ons</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <div class="panel panel-default">
                    <div class="text-center header">Onze locatie.</div>
                    <div class="panel-body text-center">
                        <h4>Adres gegevens</h4>
                        <div>
                        NHL Hogeschool<br />
                        Lokaal: H2.010<br />

                        8900 CB Nederland<br />
                        Leeuwarden Fryslân<br />
                        06-10535840<br />
                        <a href="mailto:bartjanvassen@gmail.com">E-mail adres</a><br />
                        </div>
                        <hr />
                                   <iframe  width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4778.87376812154!2d5.7967775!3d53.2100146!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xcab3143cb8098acd!2sNHL+Hogeschool!5e0!3m2!1snl!2snl!4v1430856387406"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<style>
    .map {
        min-width: 300px;
        min-height: 300px;
        width: 100%;
        height: 100%;
    }

    .header {
        background-color: #F5F5F5;
        color: #36A0FF;
        height: 70px;
        font-size: 27px;
        padding: 10px;
    }
</style>